.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 30px;
  margin: 10px;
}
.card {
  width: calc((100% - 30px) / 4);
  max-height: 300px;
  overflow: hidden;
}
